/* Define custom variables for dark mode */
:root {
  --dark-mode-white: #000000; /* Example: A different shade of yellow for dark mode */
  /* Define other custom variables for dark mode if needed */
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  /* Override Bootstrap variables for dark mode */
  :root {
    --bs-blue: var(--dark-mode-blue);
    --bs-yellow: var(--dark-mode-yellow);
    /* Override other Bootstrap variables for dark mode if needed */
  }
}

:root {
    --bs-primary: #355C7D;
    --bs-tertiary: #6C5B7B;
    --bs-secondary: #C06C84;
    --bs-info: #F67280;
    /* Override other Bootstrap variables for dark mode if needed */
  }

/* Your existing CSS styles continue below */
.navbar {
background-color: var(--bs-primary); /* Example: Override navbar color for dark mode */
border-color: #ffffff;
}

.navbar-toggler {
    border-color: #ffffff; /* Specify the color you want for the navbar toggler icon in light mode */
    color: #fff;
}
.navbar-toggler-icon {
    /* Change the line color */
    color: #ffffff; /* Change to your desired color value */
}

#featured {
background: rgb(192,108,132);
background: -moz-linear-gradient(90deg, rgba(192,108,132,1) 16%, rgba(221,175,188,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(192,108,132,1) 16%, rgba(221,175,188,1) 100%);
background: linear-gradient(90deg, rgba(192,108,132,1) 16%, rgba(221,175,188,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c06c84",endColorstr="#ddafbc",GradientType=1);
}

#project {
background: rgb(246,114,128);
background: -moz-linear-gradient(90deg, rgba(246,114,128,1) 16%, rgba(250,179,187,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(246,114,128,1) 16%, rgba(250,179,187,1) 100%);
background: linear-gradient(90deg, rgba(246,114,128,1) 16%, rgba(250,179,187,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f67280",endColorstr="#fab3bb",GradientType=1);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.icon-link{
color: #fff;
text-decoration: none;
text-decoration-color: #fff;
}

#submit {
    background-color: #F67280; /* Your custom color */
    color: #ffffff; /* Text color */
    margin: 1rem;
    /* Add any other custom styles here */
}

.btn-bd-primary {
  --bd-violet-bg: #C06C84;
  --bd-violet-rgb: 192, 108, 132;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* Required Bootstrap imports */
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";

/* Remainder of Bootstrap imports */
@import "root";
@import "reboot";
/* etc */


[data-bs-theme="dark"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--dark-mode-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}

.navbar {
	background: linear-gradient(45deg, #355C7D, #6C5B7B, #C06C84);
	background-size: 300% 400%;
	animation: gradient 15s ease infinite;
	font-size: 1.25rem;
	--bs-navbar-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-hover-color: #fff;
    --bs-navbar-active-color: #fff;
}

.card {
    width: 12rem;
}

.card-text {
    font-size: 12px;
    margin-bottom: 0px;
}

.card-text-school {
    margin-bottom: 0px;
}

body {
'background: #748EA4;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
