{% extends "base.html" %}
{% block content %}
{% from 'bootstrap5/form.html' import render_form %}


<div class="container p-0">
    <div class="row justify-content-center mx-auto"> <!-- Center the content horizontally -->
        <div class="col-md-6"> <!-- Adjust the column width as needed -->
            <h1>Add a post</h1>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-info">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

            <form method="post">
                {{ form.csrf_token }}
                {{ form.date.label }}<br>
                {{ form.date }}<br><br>
                {{ form.title.label }}<br>
                {{ form.title }}<br><br>
                {{ form.blurb.label }}<br>
                {{ form.blurb }}<br><br>
                {{ form.body.label }}<br>
                {{ form.body }}
                <br>
                {{ form.submit }}
            </form>

<!--            <p>Image:</p>-->
<!--            <input type="file" name="image_file">-->

<!--            <p>Snippet:</p>-->
<!--            <textarea id="snip" name="snip" rows="4" cols="73">-->
<!--            </textarea>-->

        </div>
    </div>
</div>
{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}

{% endblock %}