{% extends "base.html" %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ post.image_url }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mx-auto">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.date.strftime('%b %d %Y') }}</p>
                    <h2 class="subheading">{{ post.blurb }}</h2>`
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post.body | safe }}</p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="text-center">
                    {% if logged_in: %}
                    <a href="{{ url_for('post', edit_post_id=post.id) }}" class="btn btn-secondary mx-auto">Edit</a>
                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-secondary mx-auto">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</article>

{% endblock %}