{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="d-md-flex flex-md-equal w-100 my-md-2 ps-md-3">
        <div class="me-md-3 pt-3 px-2 pt-md-3 px-md-5 text-center overflow-hidden rounded-3 shadow-lg"
             style="background-color: #355C7D">
            <div class="my-3 py-3">
                <h2 class="display-3 text-white">Market Coverage</h2>
                <p class="lead text-white mb-0" style="font-size: 1.75rem">Selenium Automation & Excel VBA<br>Reporting
                    and CRM Tools</p>
            </div>
            <img class="mt-3"
                 style="width: 80%; height: 300px; border-radius: 21px 21px 0px 0px;"
                 src="{{ url_for('static', filename='images/MCR.png') }}">
            </img>
        </div>

        <div class="me-md-3 pt-3 px-2 pt-md-3 px-md-5 text-center overflow-hidden rounded">
            <div class="my-3 p-3">
                <h2 class="display-3">Geolocation & <br>Mapping</h2>
                <p class="lead" style="font-size: 1.75rem">Territory mapping with Google API and Folium library in
                    Python.</p>
            </div>
            <img class="shadow-lg mx-auto"
                 style="width: 50%; height: 300px; border-radius: 21px 21px 0 0; border-style: solid; border-bottom-style: none;"
                 src="{{ url_for('static', filename='images/mapping.png') }}"
            ></img>
        </div>
    </div>

    <div class="container">

        <div class="bg-body-secondary my-4 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden rounded-3 shadow-lg">
            <div class="my-3 py-3">
                <h2 class="display-5">Performance Review Analytics</h2>
                <p class="lead px-5">Process implementation for documentation, data cleansing, and more
                    robust performance reviews with data to back up coaching and evaluation.</p>
            </div>
            <img src="{{ url_for('static', filename='images/reviews.png') }}" class="bg-body shadow-sm mx-auto"
                 style="width: 50%; border-radius: 21px 21px 0 0;"></img>
        </div>
    </div>


</div>
{% endblock %}